Com/__pycache__
Com/run_com.sh
Com/eval_com.sh
data
Com/snapshot
Com/test.ipynb
Com/pred_scores
Sim/__pycache__
Sim/pred_scores
Com/model
gerrit.png
go.png
jdt.png
openstack.png
platform.png
qt.png
SimCom_gerrit.csv
SimCom_go.csv
SimCom_jdt.csv
SimCom_openstack.csv
SimCom_platform.csv
SimCom_qt.csv